<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVat id="vet" type="guru.springframework.morodevpetclinic.model.Vet"*/-->

<h1 th:text="'List of Vets'">List of Vets...</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Luca</td>
        <td th:text="${vet.lastName}">Moro</td>
    </tr>
    </tbody>
</table>
</body>
</html>